#used for queries through the prisma schema
DATABASE_URL="postgresql://postgres.[project-ref]:[password]@aws-1-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[project-ref]:[password]@aws-1-us-west-1.pooler.supabase.com:5432/postgres"

# A long random secret used to sign JWT tokens
JWT_SECRET="replace-this-with-a-real-secret"
